.ssk {
  &.app-menu {
    &.wrapper {
      width: 100%;
      position: fixed;
      z-index: 1000;
      bottom: 0;
      left: 0;
      background: #ffffff;
      border-top: 1px solid #dfdfdf;
    }

    &.inner {
      width: 100%;
      max-width: 640px;
      margin: 0 auto;
    }

    .ui.menu {
      border: none;
      box-shadow: none;

      .item{
        padding: 20px 0;
        &::before { display: none; }
      }
    }
  }
}
