.ssk {
  &.products-modifier {
    &.wrapper {
      width: 100%;
    }

    &.cta {
      width: 100%;
      padding: 14px;

      .cta-wrapper {
        float: left;

        &.sort {
          width: calc(100% - 171px);
          padding-left: 14px;
        }
      }
    }

    $filter-border: 1px solid rgba(34,36,38,.15);

    &.filters {
      width: 100%;
      height: 0;
      overflow: hidden;

      &.shown { height: auto; }

      .filters-inner {
        padding: 14px 7px;
        border-top: $filter-border;
        border-bottom: $filter-border;
      }

      .button.cx { box-shadow: none; }
    }

    .filter-cta {
      overflow: hidden;
      cursor: pointer;

      &:hover, &:active, &:focus {
        span {
          color: #000000;
          border-color: rgba(34,36,38,.35);
        }
      }

      span {
        padding: 11px 21px;
        display: inline-block;
        line-height: 1;
        color: rgba(0,0,0,.6);
        border: $filter-border;

        &:first-child {
          border-radius: 4px 0 0 4px;
        }
        &:last-child {
          margin-left: -1px;
          border-radius: 0 4px 4px 0;
        }
      }
    }

    .filter-wrapper {
      padding: 7px;
      float: left;

      &.item { width: 50%; }
      &.title, &.cta { width: 100%; }
      &.title { font-weight: bold; }
      &.cta { text-align: right; }
    }
  }
}
