.ssk {
  &.product-ui {
    &.wrapper {
      width: 100%;
      max-width: 640px;
      margin: 0 auto;

      .product-card.wrapper {
        padding-bottom: 0;
      }
    }

    &.info {
      padding: 14px;
      margin-bottom: 14px;
    }

    &.desc, &.comments {
      width: calc(100% + 28px);
      margin: -14px;
    }

    &.comments {
      max-height: calc(100vh * 2 / 3);
      overflow: auto;
    }

    &.user-comment {
      padding: 14px;
      border-bottom: 1px solid #dedede;
      &:last-child { border-bottom: none; }

      .user-image {
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        background: #f0f0f0;
        border-radius: 20px;
      }

      .user-name {
        margin-bottom: 7px;
        font-weight: bold;
        color: #999999;
      }
    }

    &.related {
      width: 100%;
      padding: 14px 0;

      .pui-meta {
        padding: 14px;
        margin-bottom: 14px;
      }

      .related-wrapper {
        width: 100%;
      }

      .rwp.carousel-cell {
        width: 100%;
        padding: 0 calc(15% / 2);
      }
    }
  }

  &.pvh, &.pvx {
    text-align: right!important;
  }
}
