.ssk {
  &.toast {
    width: 360px;
    position: fixed;
    z-index: 10000;
    top: 21px;
    left: calc(50% - 180px);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.15);
    opacity: .85;

    .close.icon { top: 14px; }
  }
}
