.ssk {
  &.square-ui {
    &.ratio-maker {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
    }

    &.height-guard {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
