html, body {
  width: 100%;
  height: 100%;
}

.ssk {
  &.app {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 60px;
  }

  &.clearfix {
    content: "";
    display: table;
    clear: both;
  }

  &.float-left {
    float: left;
  }

  &.float-right {
    float: right;
  }
}
