.ssk {
  &.product-image {
    width: 100%;
    height: 100%;
    background: #fafafa;

    .carousel, .carousel-cell {
      width: 100%;
      height: 100%;
    }

    // override Flickity styling
    .flickity-prev-next-button {
      display: none;
    }

    .flickity-page-dots {
      bottom: -21px;

      .dot {
        width: 6px;
        height: 6px;
        margin: 5px 4px;

        &.is-selected {
          width: 8px;
          height: 8px;
          margin: 4px;
        }
      }
    }
  }
}
