.ssk {
  &.product-card {
    width: 100%;

    &.wrapper { padding-bottom: 21px; }
    &.meta { padding: 14px; }
    &.inner-meta {
      padding-bottom: 7px;
      border-bottom: 1px solid #f0f0f0;
    }

    &.action {
      margin-bottom: 8px;

      .float-left .icon { margin-right: 7px; }
      .float-right .icon { margin-left: 7px; }

      .icon {
        font-size: 16px;
        color: #909090;
        cursor: pointer;
      }

      .liked { color: #f11e2a; }
    }

    &.info {
      margin-bottom: 2px;
      font-size: 16px;
      color: #777777;

      strong { color: #111111; }
      .fx { font-size: 14px; }
    }

    &.name {
      margin: 0;
      color: #333333;
    }
  }
}
