.ssk {
  &.product-pre-buy {
    &.wrapper {
      width: 100%;
      height: 100%;
      padding: 35px 28px 28px;
      position: absolute;
      top: 0;
      right: -100%;
      background: rgba(0,0,0,.8);
      opacity: 0;
      transition: all 400ms ease;

      &.shown {
        right: 0;
        opacity: 1;
      }
    }

    &.cta-hide {
      width: 28px;
      height: 28px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      line-height: 28px;
      color: #fafafa;
      cursor: pointer;

      .icon { margin: 0; }
    }

    &.bought {
      margin-top: 35px;
      text-align: center;

      .icon {
        margin: 0;
        color: #fafafa;
      }
      p { margin-top: 14px; }
    }

    p {
      color: #fafafa;
    }

    .ui.button {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
