.ssk {
  &.product-share {
    &.wrapper {
      width: 100%;
      height: 100%;
      padding: 35px 28px 28px;
      position: absolute;
      top: 0;
      left: -100%;
      background: #fafafa;
      opacity: 0;
      transition: all 400ms ease;

      &.shown {
        left: 0;
        opacity: 1;
      }
    }

    &.cta-hide {
      width: 28px;
      height: 28px;
      position: absolute;
      top: 0;
      right: 0;
      text-align: center;
      line-height: 28px;
      color: #aaaaaa;
      cursor: pointer;

      .icon { margin: 0; }
    }

    &.view { margin-top: 28px; }

    &.share-btn {
      text-align: center;

      .icon, p { color: #777777; }
      .icon { margin: 0; }
      p { margin-top: 7px; }
    }

    &.simulation { margin-top: 28px; }

    &.shared {
      margin-top: 35px;
      text-align: center;

      .icon, p { color: #777777; }
      .icon { margin: 0; }
      p { margin-top: 14px; }
    }
  }
}
