.ssk {
  &.products-ui {
    width: 100%;
    max-width: 640px;
    height: auto;
    min-height: 100vh;
    margin: 0 auto;
  }

  &.products-load {
    width: 100%;
    height: 120px;
    position: relative;
  }

  &.products-loaded {
    width: 100%;
    padding: 20px 0;
    text-align: center;

    p {
      margin: 0;
      font-weight: bold;
      color: #454545;
    }
  }

  &.product-sub {
    width: 100%;

    &.wrapper {
      padding: 14px;
      margin-bottom: 14px;
    }

    &.title { margin-bottom: 7px; }
    &.meta { margin-bottom: 28px; }

    &.option {
      height: 100%;
      text-align: center;
      background: #f8f8f8;
      border-radius: 4px;

      a {
        width: 100%;
        height: 100%;
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #afafaf;
      }

      p {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
